
<p>Nous souhaitons vous informer que vous avez reçu un nouveau message sur notre plateforme De : {{ user }} </p>
<p>Pour lire le message, veuillez vous connecter à votre compte et accéder à votre boîte de réception en cliquant sur le lien ci-dessous :</p>
<a href="https://127.0.0.1:8000/message/messagesre%C3%A7us"> message recus</a>
<p>Cordialement,</p>
<p>L'équipe de support de Gtrouvé</p>